<div class="page-header">
  <h1>Revision History</h1>
</div>

<%= form_tag compare_path do %>

<div>
  Select any two versions to <input type="submit" class="btn" value="Compare" />
</div>

<table class="bordered-table zebra-striped" style="margin: 10px;">
<tr><th></th><th>Message</th><th>Date</th></tr>
<%= render(partial: "commit", collection: @commits) %>
</table>

<div>
  Select any two versions to <input type="submit" class="btn" value="Compare" />
</div>


<% end %>
